{% extends "PQQuiniBundle::layout_logged.html.twig" %}

{% block title'Penyaquini - Inici' %} 

{% block body %}

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-9">

            <div class="well">

                <ul class="list-group">

                    {% for partit in partits %}

                        <li class="list-group-item">
                            {{ partit.ptqCasella }}
                            <img src="/penyaquini/web/bundles/pqquini/images/{{ partit.idEquLocal.equNomCurt }}.png">
                            <img src="/penyaquini/web/bundles/pqquini/images/{{ partit.idEquVisitant.equNomCurt }}.png">
                            {{ partit.idEquLocal.equNom }} - {{ partit.idEquVisitant.equNom }}
                            <div class="btn-group  pull-right" data-toggle="buttons">
                                <label class="btn btn-default">
                                    <input type="radio" name="options" id="option1"> 1
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="options" id="option2"> X
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="options" id="option3"> 2
                                </label>
                            </div>
                        </li>
                    {% endfor %}
                </ul>

                <div class="text-right">
                    <form action="{{ path('home') }}">
                        <button type="submit" class="btn btn-primary navbar-btn">
                            Vota <span class="glyphicon glyphicon-send"></span>
                        </button>
                    </form>
                </div>

            </div>

        </div>

        <div class="col-xs-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        Top 10
                    </h4>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-chevron-down pull-right text-danger"
                                  style="padding-left: 10px;"></span>
                            <span class="badge">213</span>
                            1. Blas
                        </li>
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-chevron-up pull-right text-success"
                                  style="padding-left: 10px;"></span>
                            <span class="badge">198</span>
                            2. Blas
                        </li>
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-chevron-down pull-right text-danger"
                                  style="padding-left: 10px;"></span>
                            <span class="badge">176</span>
                            3. Blas
                        </li>
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-chevron-down pull-right text-danger"
                                  style="padding-left: 10px;"></span>
                            <span class="badge">154</span>
                            4. Blas
                        </li>
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-chevron-up pull-right text-success"
                                  style="padding-left: 10px;"></span>
                            <span class="badge">132</span>
                            5. Blas
                        </li>
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-chevron-down pull-right text-danger"
                                  style="padding-left: 10px;"></span>
                            <span class="badge">108</span>
                            6. Blas
                        </li>
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-chevron-up pull-right text-success"
                                  style="padding-left: 10px;"></span>
                            <span class="badge">97</span>
                            7. Blas
                        </li>
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-chevron-down pull-right text-danger"
                                  style="padding-left: 10px;"></span>
                            <span class="badge">68</span>
                            8. Blas
                        </li>
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-chevron-up pull-right text-success"
                                  style="padding-left: 10px;"></span>
                            <span class="badge">53</span>
                            9. Blas
                        </li>
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-chevron-up pull-right text-success"
                                  style="padding-left: 10px;"></span>
                            <span class="badge">0</span>
                            10. Blas
                        </li>
                    </ul>
                    <a>Veure classificaci&oacute;</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
